{% extends 'base.html' %}


{% block title %}Login page{% endblock %}

{% block body %}

<div class='container'>

    <div class='row justify-content-md-center'>
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock %}</h1>
                <form method='POST' action="{% url 'login_page' %}">
                    <input name='username' id="id_username"
                    class="form-control input-lg" 
                    placeholder="Enter a username" />
                    <input name='password' id="id_password"
                    class="form-control input-lg" 
                    placeholder="Enter a password" />
                    <button class="btn btn-primary" type="submit">login</button>
                    {% csrf_token %}
                    {% if error %}
                        <div class='form-group has-error'>
                            <span class="help-block">{{ error }}</span>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}